/*
https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci
*/
/******    Nav Bar Default Styling  ********/
/*Outter Most Container*/
.navContainer{
  border-bottom: black solid 2px;
}
.nav{
  background-color: #9AD0B7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 150px;
}
/*Nav bar content positioning*/
.navMenu{
  font-family: navFont;
  font-size: 1.2em;
  display: flex;
  height: 100%;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
/*
  Take room in nav bar
  space left side nav links evenly and centered
 */
.navLeft{
  flex-basis: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navCenter{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*Centers Content within this container relative to outter containers */
  flex-basis: 25%;
}
.ezRideLogo{
  width: 105px;
  height: auto;
  /*center above EZ ride */
  margin-left: 25px;
}
.companyName{
  font-size: 2.5em;
}

/* Nav items styles */
.navLink{
  text-decoration: none;
  color: inherit;
}

.navLink.active,.navLink:hover{
  color: #6C0000;
}
.navListItem{
  text-decoration: none;
  list-style: none;
}
/* hide until mobile width is found */
.mobileLogo {
  display: none;
}
.hamburger{
  display: none;
}
.hamburgerBar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
/*Tablet and smaller styling*/
@media screen and (max-width: 831px) {
  /*default mobile nav bar settings*/
  .navMenu{
    position: fixed;
    /*hide nav bar by default*/
    right: 100%;
    top: 6rem;
    width: 50%;
    /*change flex to top down */
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF8E7;
    /*slide nav bar out from left*/
    transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    height: auto;
  }
  /*display sub items vertically*/
  .navLeft{
    flex-direction: column;
  }
  .navListItem{
    margin: 1.5rem 0;
  }
  /*when js assigns active class reveal the nav bar*/
  .navMenu.active{
    right: 0;
  }
  /*style spacing for logo company name and hamburger*/
  .mobileLogo{
    font-family: navFont;
    display: block;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .mobileLogo .ezRideLogo{
    width: 110px;
    height: auto;
  }
  /*hide logo and title when mobile nav is displayed*/
  .navCenter{
    display: none;
  }
  .hamburger{
    display: block;
    cursor: pointer;
    margin-top: 30px;
  }
  /* hide middle bar when clicked */
  .hamburger.active .hamburgerBar:nth-child(2) {
      opacity: 0;
  }
  /* Rotate bars to form x when clicked */
  .hamburger.active .hamburgerBar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      width: 55px;
  }

  .hamburger.active .hamburgerBar:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
      width: 55px;
  }
  .companyName{
    font-size: 3em;
  }
}
