/* Files css is used on every html page */
html{
  background-color: #FFF8E7;
  color: black;
}
body{
  position: relative;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

/*fonts for entire website
@font-face {
  font-family: navFont;
  src: url(Peralta-Regular.ttf);
}
@font-face {
  font-family: mainFont;
  src: url(Lora-VariableFont_wght.ttf);
}
*/
